*{
    margin: 0;
    padding: 0;
}
.header a:hover{
    color: #5F9EA0;
    transition: 0.3s;
}
.header {
    background-color: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
}
.header ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    color: black;
}
.header a{
    list-style: none;
    text-decoration: none;
    color: black;
}
.header li{
    margin-right: 50px;
}
.icon{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-right: 40px;
}
.icon1{
    padding: 15px;
}
ul.timkiem li{
    margin-right: 0;
}
.icon2{
    padding: 15px;
}
.icon3{
    padding: 15px;
}
.mainmenu ul.submenu{
    position: absolute;
    background: #FFF;
    text-decoration: none;
    padding: 20px;
    display:list-item;
    line-height: 35px;
    display: none;
    box-shadow: 1px 1px 1px;
    -moz-box-shadow: 5px 5px 5px;
    -webkit-box-shadow: 5px 5px 5px;
    -o-box-shadow: 5px 5px 5px ;
    -ms-box-shadow: 5px 5px 5px;
}
.mainmenu ul.submenu a{
    border-bottom: 1px solid #FFF;
    font-size: 18px;
}
.mainmenu li:hover ul.submenu{
    display: block;
}
.intro{
    display: flex;
}
.footer{
    width: auto;
    padding: 50px;
    display: flex;
    background-color: black;
    color: #FFF;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
}
.about{
    width: 41%;
    margin-right: 190px;
    border-right: 1px solid #FFF;
}
.htch{
    padding-top: 15px;
    border-top: 1px solid #fff;
}
.links{
    margin-right: 130px;
}
.list{
    padding-top: 30px ;
    list-style: none;
}
.list a{
    text-decoration: none;
    color: #FFf;
}
.list a:hover{
    color: #5F9EA0;
    transition: 0.3s;
    text-decoration: underline;
}
.web{
    padding-top: 30px;
    list-style: none;
}    
.web a{
    text-decoration: none;
    color: #FFF;
}
.web a:hover{
    color: #5F9EA0;
    transition: 0.3s;
    text-decoration: underline;
}
.main{
    padding-top: 50px;
    padding-right: 210px;
    padding-left: 210px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.box1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

#search-box {
    background-color: rgb(224, 223, 223);
    padding: 4px;
    margin-right: 10px;
    border-radius: 15px;
}
#search-box #search-text{
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    padding: 8px;
}
#search-btn{
    background: #FFF;
    border: none;
}
.box2{
    padding: 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.box2 ul{
    justify-content: center;
    display: flex;
    list-style: none;
    color: black;
}
.box2 a{
    list-style: none;
    text-decoration: none;
    color: black;
}
.box2 a:hover{
    color: #5F9EA0;
    transition: 0.3s;
}
.box3{
    max-width: 1170px;
    margin: 0 auto;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.15;
    color: black;
}
.mainshop{
    padding-right: 200px;
    padding-left: 200px;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.tcsp{
    font-size: 35px;
    text-align: center;
    padding-bottom: 80px;
}
ul.products{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}
ul.products li{
    flex-basis: 24%;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 25px;
    box-sizing: border-box;
}
ul.products li img  {
    max-width: 100%;
    height: auto;
}
ul.products li .product-top{
    position: relative;
    overflow: hidden;
}
ul.products li .product-top .product-thumb{
    display: block;
}
ul.products li:hover .product-top .product-thumb img{
    filter: opacity(80%);
}
ul.products li .product-top .product-thumb img{
    display: block;
}
ul.products li .product-top a.buy-now{
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: lightgray;
    color: black;
    padding: 10px 0px;
    position: absolute;
    bottom: -40px;
    width: 100%;
    transition: 0.25s ease-in-out;
    opacity: 0.85;
}
ul.products li:hover a.buy-now{
    bottom: 0px;
}
ul.products li .product-info{
    padding: 10px 0px;
}
ul.products li .product-info a{
    display: block;
    text-decoration: none;
}
ul.products li .product-info a.product-cat{
    font-size: 11px;
    text-transform: uppercase;
    color:#5F9EA0;
    padding: 3px 0px;
}
ul.products li .product-info a.product-name{
    color: black;
    padding: 3px 0px;
}
ul.products li .product-info .product-price{
    color: red;
    padding: 2px 0px;
    font-weight: 600;
}
.gachngang{
    text-decoration: line-through;
    color: black;
}